In [342]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [343]:
import os
from google.colab import drive
drive.mount('/content/drive')
filepath ='drive/MyDrive/hofstra/HitData/Hit215/ADV DA Project/Adv data project/Datasets/'
list_of_files = os.listdir(filepath)
print(list_of_files)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
['ADMISSIONS.csv', 'PRESCRIPTION.csv', 'heart_failure_clinical_records_dataset.csv', 'Heart_health.csv', 'cancer_classification.csv', 'diabetes_risk_prediction_dataset.csv', 'fetal_health.csv', 'pres.csv', 'Patient Admissions dummi data.csv', 'LAB.csv', 'LABEV.csv', 'DEEPSEPS FINAL DF.csv', 'los sepsis.csv', 'earlydiagseps.csv']

In [344]:
df = pd.read_csv(filepath+ list_of_files[11] )

In [345]:
df.head()

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,...,value,valuenum,valueuom,flag,row_id.2,itemid.1,label,fluid,category,loinc_code
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,...,77.0,77,mg/dL,NaN,10,50809,Glucose,Blood,Blood Gas,2339-0
1,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,...,146.0,146,mg/dL,abnormal,10,50809,Glucose,Blood,Blood Gas,2339-0
2,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,...,158.0,158,mg/dL,abnormal,10,50809,Glucose,Blood,Blood Gas,2339-0
3,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,...,150.0,150,mg/dL,abnormal,10,50809,Glucose,Blood,Blood Gas,2339-0
4,12755,10019,177759,228977,carevue,MICU,MICU,15,15,2163-05-14 20:43:56,...,159.0,159,mg/dL,abnormal,10,50809,Glucose,Blood,Blood Gas,2339-0

In [346]:
df.columns

Index(['row_id', 'subject_id', 'hadm_id', 'icustay_id', 'dbsource',
       'first_careunit', 'last_careunit', 'first_wardid', 'last_wardid',
       'intime', 'outtime', 'los', 'row_id.1', 'subject_id.1', 'hadm_id.1',
       'itemid', 'charttime', 'value', 'valuenum', 'valueuom', 'flag',
       'row_id.2', 'itemid.1', 'label', 'fluid', 'category', 'loinc_code'],
      dtype='object')

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28753 entries, 0 to 28752
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   row_id          28753 non-null  int64
 1   subject_id      28753 non-null  int64
 2   hadm_id         28753 non-null  int64
 3   icustay_id      28753 non-null  int64
 4   dbsource        28753 non-null  object
 5   first_careunit  28753 non-null  object
 6   last_careunit   28753 non-null  object
 7   first_wardid    28753 non-null  int64
 8   last_wardid     28753 non-null  int64
 9   intime          28753 non-null  object
 10  outtime         28753 non-null  object
 11  los             28753 non-null  float64
 12  row_id.1        28753 non-null  int64
 13  subject_id.1    28753 non-null  int64
 14  hadm_id.1       25381 non-null  float64
 15  itemid          28753 non-null  int64
 16  charttime       28753 non-null  object
 17  value           28753 non-null  float64
 18  valuenum        28753 non-null  int64
 19  valueuom        25350 non-null  object
 20  flag            13870 non-null  object
 21  row_id.2        28753 non-null  int64
 22  itemid.1        28753 non-null  int64
 23  label           28753 non-null  object
 24  fluid           28753 non-null  object
 25  category        28753 non-null  object
 26  loinc_code      28753 non-null  object
dtypes: float64(3), int64(12), object(12)
memory usage: 5.9+ MB

In [348]:
# Drop columns by specifying their names
columns_to_drop = ['row_id', 'subject_id','hadm_id','dbsource','first_careunit','last_careunit','first_wardid','last_wardid','intime','outtime','row_id.1','subject_id.1','hadm_id.1','itemid','charttime','value','valueuom','row_id.2','itemid.1','fluid','category','loinc_code']

df_dropped = df.drop(columns=columns_to_drop, axis=1)

print("DataFrame after dropping columns:")
print(df_dropped)

DataFrame after dropping columns:
       icustay_id      los  valuenum      flag      label
0          206504   1.6325        77       NaN    Glucose
1          228977   1.2938       146  abnormal    Glucose
2          228977   1.2938       158  abnormal    Glucose
3          228977   1.2938       150  abnormal    Glucose
4          228977   1.2938       159  abnormal    Glucose
...           ...      ...       ...       ...        ...
28748      217992   4.6191         0       NaN  Bilirubin
28749      217724   0.6259         0       NaN        WBC
28750      239396  31.1235         0       NaN        WBC
28751      217992   4.6191         0       NaN        WBC
28752      217992   4.6191         0       NaN        WBC

[28753 rows x 5 columns]

In [349]:
df_dropped.shape

(28753, 5)

In [350]:
df_dropped.sample(25)

       icustay_id      los  valuenum      flag                       label
10132      204132   7.1988        82  abnormal                 Neutrophils
16871      205170   2.9406        25  abnormal               Urea Nitrogen
7696       249805  35.4065         2  abnormal                  Creatinine
1218       204881   2.1436         1  abnormal                     INR(PT)
27558      256746   3.7760       135  abnormal              Platelet Count
19370      234541   2.0829        23       NaN                 Bicarbonate
14498      263095   0.7599        19  abnormal                 Bicarbonate
7739       249805  35.4065         1       NaN                  Creatinine
9074       204132   7.1988        28       NaN                 Bicarbonate
15037      285353   1.3352       188       NaN  Lactate Dehydrogenase (LD)
12729      265505   4.9262        25       NaN                 Bicarbonate
4424       204201   0.6628        24  abnormal               Urea Nitrogen
24394      253931  10.8625       180       NaN              Platelet Count
14618      263095   0.7599        26       NaN                 Bicarbonate
19850      234541   2.0829         1       NaN                  Creatinine
1493       232110  13.8507       122  abnormal              Platelet Count
21914      263095   0.7599        33  abnormal               Urea Nitrogen
6561       237528  15.3636         3  abnormal                     INR(PT)
2217       231809   0.2070        18  abnormal                 Bicarbonate
12515      205170   2.9406        31       NaN                 Bicarbonate
24457      298685  13.3570         7  abnormal                          pH
25166      210164   1.2607         9  abnormal                  Creatinine
7751       271544  22.3895         1       NaN                  Creatinine
19461      265505   4.9262        26       NaN                 Bicarbonate
15857      242680   0.7569         7       NaN                          pH

In [351]:
flag_mapping = {"abnormal": 0, "": 1}

df_dropped["flag"] = df_dropped["flag"].replace(flag_mapping)
df_dropped['flag'] = df_dropped['flag'].fillna(1)

# Print the first few rows to check the changes
print(df_dropped.sample(25))

       icustay_id      los  valuenum flag           label
12297      280943   1.3129         7    0              pH
5092       282566   2.6745        60    0  Platelet Count
23903      263095   0.7599         2    0         INR(PT)
6666       261764   2.8258         2    0         INR(PT)
8489       249805  35.4065        60    0  Platelet Count
3256       245091   2.2559       284    1  Platelet Count
18799      285272   2.5803        87    0     Neutrophils
16748      216493   1.9456         4    0   Urea Nitrogen
22236      267267   1.6397         2    0         INR(PT)
6300       237528  15.3636        28    0   Urea Nitrogen
21082      280943   1.3129        24    1     Bicarbonate
25792      281609  21.4136        73    0     Neutrophils
28230      265615   1.9287         1    1      Creatinine
16659      267267   1.6397        14    1   Urea Nitrogen
4645       223870   2.4520         2    1         INR(PT)
15047      205170   2.9406        19    1   Urea Nitrogen
26724      221684  15.0564         1    0      Creatinine
4854       214861   1.7861        64    1     Neutrophils
790        203766   6.3034         1    0      Creatinine
10533      293178   1.4011         7    0              pH
7095       241562   1.6444       124    0         Glucose
21005      209797   2.7361         7    0              pH
7230       249805  35.4065         7    1              pH
27021      210164   1.2607       242    0   Urea Nitrogen
10406      204132   7.1988       125    0  Platelet Count

In [352]:
label_counts = df_dropped["label"].value_counts()

# Print the label counts
print(label_counts)

label
Creatinine                        4765
Bicarbonate                       4705
Urea Nitrogen                     4705
Platelet Count                    4455
INR(PT)                           3403
pH                                2395
Neutrophils                       1348
Albumin                            807
Lactate Dehydrogenase (LD)         762
WBC                                473
Glucose                            450
Bilirubin                          433
Lymphocytes                         33
Lactate Dehydrogenase, Ascites      10
Glucose, Ascites                     9
Name: count, dtype: int64

In [353]:
pivoted_data = df_dropped.pivot_table(index='icustay_id', columns='label', values='valuenum', aggfunc='first')


pivoted_data.columns = [f"{col[1]}_{col[0]}" for col in pivoted_data.columns]


pivoted_data.reset_index(inplace=True)


pivoted_data = pivoted_data.merge(df_dropped[['icustay_id', 'los']], on='icustay_id')


pivoted_data.fillna(0, inplace=True)


print(pivoted_data.sample(5))

       icustay_id  l_A   i_B  i_B  r_C    l_G    l_G  N_I    a_L   a_L   y_L  \
8754       221684  2.0  21.0  0.0  1.0    0.0  136.0  2.0  276.0  43.0  11.0
12665      242680  3.0  29.0  0.0  1.0  277.0    0.0  4.0  206.0   0.0   0.0
19227      265505  3.0  29.0  0.0  1.0  277.0    0.0  4.0  206.0   0.0   0.0
13103      242680  3.0  29.0  0.0  1.0  277.0    0.0  4.0  206.0   0.0   0.0
20208      267267  3.0  29.0  0.0  1.0  277.0    0.0  4.0  206.0   0.0   0.0

        e_N    l_P   r_U   B_W  H_p      los
8754   93.0  176.0  25.0  40.0  7.0  15.0564
12665  85.0  240.0   9.0   5.0  7.0   0.7569
19227  85.0  240.0   9.0   5.0  7.0   4.9262
13103  85.0  240.0   9.0   5.0  7.0   0.7569
20208  85.0  240.0   9.0   5.0  7.0   1.6397

In [354]:
pivoted_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28753 entries, 0 to 28752
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   icustay_id  28753 non-null  int64
 1   l_A         28753 non-null  float64
 2   i_B         28753 non-null  float64
 3   i_B         28753 non-null  float64
 4   r_C         28753 non-null  float64
 5   l_G         28753 non-null  float64
 6   l_G         28753 non-null  float64
 7   N_I         28753 non-null  float64
 8   a_L         28753 non-null  float64
 9   a_L         28753 non-null  float64
 10  y_L         28753 non-null  float64
 11  e_N         28753 non-null  float64
 12  l_P         28753 non-null  float64
 13  r_U         28753 non-null  float64
 14  B_W         28753 non-null  float64
 15  H_p         28753 non-null  float64
 16  los         28753 non-null  float64
dtypes: float64(16), int64(1)
memory usage: 3.7 MB

In [370]:
# Check for Missing Values
print(pivoted_data.isnull().sum())

icustay_id    0
l_A           0
i_B           0
i_B           0
r_C           0
l_G           0
l_G           0
N_I           0
a_L           0
a_L           0
y_L           0
e_N           0
l_P           0
r_U           0
B_W           0
H_p           0
los           0
dtype: int64

In [372]:
pivoted_data.shape

(28753, 17)

In [355]:
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split
import pandas as pd

X = pivoted_data.iloc[:, 1:16]  # Features (columns 1-15)
y = pivoted_data.iloc[:, 16]    # Target variable (column 16)

# Feature Scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Feature Selection
# Select the best k features based on the ANOVA F-value
k_best_features = SelectKBest(score_func=f_classif, k=10)
X_new = k_best_features.fit_transform(X_scaled, y)

#
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.2, random_state=42)

/usr/local/lib/python3.10/dist-packages/sklearn/feature_selection/_univariate_selection.py:112: UserWarning: Features [2] are constant.
  warnings.warn("Features %s are constant." % constant_features_idx, UserWarning)
/usr/local/lib/python3.10/dist-packages/sklearn/feature_selection/_univariate_selection.py:113: RuntimeWarning: invalid value encountered in divide
  f = msb / msw

In [373]:
from sklearn.tree import DecisionTreeRegressor

# Initialize the model for regression
model = DecisionTreeRegressor()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the test data
tree_predictions = model.predict(X_test)

# Evaluate the model using regression metrics
from sklearn.metrics import mean_squared_error, r2_score

tree_mse = mean_squared_error(y_test, tree_predictions)
tree_r2 = r2_score(y_test, tree_predictions)
print(f'Decision Tree Regressor MSE: {tree_mse}')
print(f'Decision Tree Regressor R^2: {tree_r2}')

Decision Tree Regressor MSE: 13.423310237159267
Decision Tree Regressor R^2: 0.820107190014301

In [374]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the model
model = GradientBoostingRegressor()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the test data
gbr_predictions = model.predict(X_test)

# Evaluate the model
gbr_mse = mean_squared_error(y_test, gbr_predictions)
gbr_r2 = r2_score(y_test, gbr_predictions)
print(f'Gradient Boosting Regressor MSE: {gbr_mse}')
print(f'Gradient Boosting Regressor R^2: {gbr_r2}')

Gradient Boosting Regressor MSE: 13.984313756263225
Gradient Boosting Regressor R^2: 0.8125888880693678

In [375]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the model
model = SVR()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the test data
svr_predictions = model.predict(X_test)

# Evaluate the model
svr_mse = mean_squared_error(y_test, svr_predictions)
svr_r2 = r2_score(y_test, svr_predictions)
print(f'Support Vector Regressor MSE: {svr_mse}')
print(f'Support Vector Regressor R^2: {svr_r2}')

Support Vector Regressor MSE: 26.18301381646055
Support Vector Regressor R^2: 0.6491077203670248

In [376]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the model
model = RandomForestRegressor()

# Fit the model on the training data
model.fit(X_train, y_train)

# Predict on the test data
forest_predictions = model.predict(X_test)

# Evaluate the model
forest_mse = mean_squared_error(y_test, forest_predictions)
forest_r2 = r2_score(y_test, forest_predictions)
print(f'Random Forest Regressor MSE: {forest_mse}')
print(f'Random Forest Regressor R^2: {forest_r2}')

Random Forest Regressor MSE: 13.424458432088135
Random Forest Regressor R^2: 0.8200918024527744