In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
import os
from google.colab import drive
drive.mount('/content/drive')
filepath ='drive/MyDrive/hofstra/HitData/Hit215/ADV DA Project/Adv data project/Datasets/'
list_of_files = os.listdir(filepath)
print(list_of_files)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
['ADMISSIONS.csv', 'PRESCRIPTION.csv', 'heart_failure_clinical_records_dataset.csv', 'Heart_health.csv', 'cancer_classification.csv', 'diabetes_risk_prediction_dataset.csv', 'fetal_health.csv', 'pres.csv', 'Patient Admissions dummi data.csv', 'LAB.csv', 'LABEV.csv', 'DEEPSEPS FINAL DF.csv', 'los sepsis.csv', 'earlydiagseps.csv']

In [9]:
df = pd.read_csv(filepath+ list_of_files[13] )

In [10]:
df.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,...,row_id.2,itemid.1,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,39821,40124,126179,2130-02-04 02:26:00,2130-02-10 17:39:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,12686.0,220546.0,WBC,WBC,metavision,chartevents,Labs,NaN,Numeric,NaN
1,39822,40124,146893,2130-08-12 05:49:00,2130-08-18 15:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,12686.0,220546.0,WBC,WBC,metavision,chartevents,Labs,NaN,Numeric,NaN
2,39821,40124,126179,2130-02-04 02:26:00,2130-02-10 17:39:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,12686.0,220546.0,WBC,WBC,metavision,chartevents,Labs,NaN,Numeric,NaN
3,39822,40124,146893,2130-08-12 05:49:00,2130-08-18 15:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,12686.0,220546.0,WBC,WBC,metavision,chartevents,Labs,NaN,Numeric,NaN
4,39821,40124,126179,2130-02-04 02:26:00,2130-02-10 17:39:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,...,12686.0,220546.0,WBC,WBC,metavision,chartevents,Labs,NaN,Numeric,NaN

In [11]:
df.columns

Index(['row_id', 'subject_id', 'hadm_id', 'admittime', 'dischtime',
       'deathtime', 'admission_type', 'admission_location',
       'discharge_location', 'insurance', 'language', 'religion',
       'marital_status', 'ethnicity', 'edregtime', 'edouttime', 'diagnosis',
       'hospital_expire_flag', 'has_chartevents_data', 'row_id.1',
       'subject_id.1', 'hadm_id.1', 'icustay_id', 'itemid', 'charttime',
       'storetime', 'cgid', 'value', 'valuenum', 'valueuom', 'warning',
       'error', 'resultstatus', 'stopped', 'row_id.2', 'itemid.1', 'label',
       'abbreviation', 'dbsource', 'linksto', 'category', 'unitname',
       'param_type', 'conceptid'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11715 entries, 0 to 11714
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   row_id                11715 non-null  int64
 1   subject_id            11715 non-null  int64
 2   hadm_id               11715 non-null  int64
 3   admittime             11715 non-null  object
 4   dischtime             11715 non-null  object
 5   deathtime             1568 non-null   object
 6   admission_type        11715 non-null  object
 7   admission_location    11715 non-null  object
 8   discharge_location    11715 non-null  object
 9   insurance             11715 non-null  object
 10  language              11715 non-null  object
 11  religion              11715 non-null  object
 12  marital_status        11675 non-null  object
 13  ethnicity             11715 non-null  object
 14  edregtime             9685 non-null   object
 15  edouttime             9685 non-null   object
 16  diagnosis             11715 non-null  object
 17  hospital_expire_flag  11715 non-null  int64
 18  has_chartevents_data  11715 non-null  int64
 19  row_id.1              11715 non-null  int64
 20  subject_id.1          11715 non-null  int64
 21  hadm_id.1             11715 non-null  int64
 22  icustay_id            11715 non-null  int64
 23  itemid                11715 non-null  int64
 24  charttime             11715 non-null  object
 25  storetime             11715 non-null  object
 26  cgid                  11715 non-null  int64
 27  value                 11715 non-null  float64
 28  valuenum              11715 non-null  float64
 29  valueuom              6788 non-null   object
 30  warning               11714 non-null  float64
 31  error                 11714 non-null  float64
 32  resultstatus          0 non-null      float64
 33  stopped               0 non-null      float64
 34  row_id.2              11714 non-null  float64
 35  itemid.1              11714 non-null  float64
 36  label                 11714 non-null  object
 37  abbreviation          11714 non-null  object
 38  dbsource              11714 non-null  object
 39  linksto               11714 non-null  object
 40  category              11714 non-null  object
 41  unitname              60 non-null     object
 42  param_type            11714 non-null  object
 43  conceptid             0 non-null      float64
dtypes: float64(9), int64(11), object(24)
memory usage: 3.9+ MB

In [19]:
label_counts = df["diagnosis"].value_counts()
print(label_counts)

diagnosis
SEPSIS                                                       2764
PNEUMONIA                                                    2293
SEPSIS; UTI                                                   550
FEVER                                                         550
HYPOTENSION;UNRESPONSIVE                                      550
UTI/PYELONEPHRITIS                                            550
RESPIRATORY DISTRESS                                          550
URINARY TRACT INFECTION;PYELONEPHRITIS                        550
AROMEGLEY;BURKITTS LYMPHOMA                                   431
FACIAL NUMBNESS                                               431
FAILURE TO THRIVE                                             300
HEPATIC ENCEP                                                 289
ASTHMA;CHRONIC OBST PULM DISEASE                              270
SEIZURE;STATUS EPILEPTICUS                                    248
INFERIOR MYOCARDIAL INFARCTION\CATH                           213
ACUTE RESPIRATORY DISTRESS SYNDROME;ACUTE RENAL FAILURE       162
UPPER GI BLEED                                                158
ELEVATED LIVER FUNCTIONS;S/P LIVER TRANSPLANT                 136
ESOPHAGEAL CA/SDA                                             100
SHORTNESS OF BREATH                                            92
TRACHEAL ESOPHAGEAL FISTULA                                    79
TRACHEAL STENOSIS                                              51
ACUTE CHOLANGITIS                                              37
PERICARDIAL EFFUSION                                           36
CHEST PAIN                                                     24
HYPOTENSION                                                    23
CHOLECYSTITIS                                                  21
VOLVULUS                                                       20
S/P FALL                                                       20
HYPOTENSION, RENAL FAILURE                                     20
ABDOMINAL PAIN                                                 19
METASTIC MELANOMA;ANEMIA                                       19
CEREBROVASCULAR ACCIDENT                                       18
MEDIASTINAL ADENOPATHY                                         18
CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS GRAFT /SDA      15
LEFT HIP OA/SDA                                                11
ACUTE PULMONARY EMBOLISM                                       11
STEMI;                                                         10
ALTERED MENTAL STATUS                                          10
MI CHF                                                          9
HYPOGLYCEMIA                                                    8
PNEUMONIA/HYPOGLCEMIA/SYNCOPE                                   8
ASTHMA/COPD FLARE                                               8
SYNCOPE;TELEMETRY;INTRACRANIAL HEMORRHAGE                       7
STROKE/TIA                                                      7
CELLULITIS                                                      6
PLEURAL EFFUSION                                                4
RENAL CANCER/SDA                                                4
ACUTE SUBDURAL HEMATOMA                                         3
PNEUMONIA;TELEMETRY                                             2
Name: count, dtype: int64

In [21]:
pivoted_data = df.pivot_table(index='subject_id', columns='label', values='valuenum', aggfunc='first')


pivoted_data.columns = [f"{col[1]}_{col[0]}" for col in pivoted_data.columns]


pivoted_data.reset_index(inplace=True)


pivoted_data = pivoted_data.merge(df[['subject_id', 'diagnosis']], on='subject_id')


pivoted_data.fillna(0, inplace=True)


print(pivoted_data.sample(1))

      subject_id  l_A   U_B  r_C  i_D   l_G   n_I  e_T  o_T   B_W diagnosis
4028       41976  2.2  13.0  0.8  0.0  97.0  50.0  0.0  0.6  21.0    SEPSIS

In [20]:
pivoted_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11715 entries, 0 to 11714
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subject_id  11715 non-null  int64
 1   l_A         11715 non-null  float64
 2   U_B         11715 non-null  float64
 3   r_C         11715 non-null  float64
 4   i_D         11715 non-null  float64
 5   l_G         11715 non-null  float64
 6   n_I         11715 non-null  float64
 7   e_T         11715 non-null  float64
 8   o_T         11715 non-null  float64
 9   B_W         11715 non-null  float64
 10  diagnosis   11715 non-null  object
dtypes: float64(9), int64(1), object(1)
memory usage: 1006.9+ KB

In [25]:
pivoted_data.shape

(11715, 11)

In [40]:
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
pivoted_data['diagnosis'] = le.fit_transform(pivoted_data['diagnosis'])

X = pivoted_data.iloc[:, 1:10]  # Features (columns 1-15)
y = pivoted_data.iloc[:, 10]    # Target variable (column 16)

# Feature Scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Feature Selection
# Select the best k features based on the ANOVA F-value
k_best_features = SelectKBest(score_func=f_classif, k=8)
X_new = k_best_features.fit_transform(X_scaled, y)

#
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_new, y, test_size=0.3, random_state=14)

In [41]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

from sklearn.metrics import f1_score, accuracy_score, roc_auc_score

f1 = f1_score(y_test, y_pred, average='weighted')
acc = accuracy_score(y_test, y_pred)


print(f'KNN F1: {f1}')
print(f'KNN Accuracy: {acc}')

KNN F1: 0.31890214330149774
KNN Accuracy: 0.4566145092460882